
<form id="librarysearchform" name="librarysearchform" [formGroup]="librarysearchform" (ngSubmit)="onSubmit($event)">
<div class="row">
	<div class="col-sm-auto">

        <select form="librarydbsearchform" formControlName="searchtype" (ngModelChange)="searchswitch()">
            <option value="N/A" disabled selected>ID Search</option>
            <option value="ISBN_10" id="ISBN_10" >ISBN-10</option>
            <option value="ISBN_13">ISBN-13</option>
            <option value="EDITION_ID">Open Library ID</option>
            <option value="N/A" disabled>Name Search</option>
            <option value="TITLE">Title</option>
        </select>

	</div>
    <div class="col-sm-auto">
        <input formControlName="searchvalue" id="searchvalue" size="sm" type="text" style="display: none;"  (keyup)="visibilityswitch($event)" form="librarysearchform">
    </div>
    <div class="col-sm-auto">
        <button type="submit" class="btn btn-dark btn-sm" id="submitbutton" style="display: none;" disabled form="librarysearchform">Search</button>
    </div>
</div>

    <div *ngIf="noresults==false && result; else elseBlock" class="table-responsive-sm">
        <table class="table table-dark table-striped-columns">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>ISBN-13</th>
                    <th>ISBN-10</th>
                    <th>Open Library ID</th>
                    <th>Author&#40;s&#41;</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of result" id={{book.EDITION_ID}}>
                    <td>{{book.INFO.TITLE}}
                        {{book.INFO.SUBTITLE !== null && book.INFO.SUBTITLE !==undefined?": "+book.INFO.SUBTITLE:""}}
                    </td>
                    <td>{{book.INFO.ISBN_13}}</td>
                    <td>{{book.INFO.ISBN_10}}</td>
                    <td>{{book.EDITION_ID}}</td>
                    <td>{{book.INFO.AUTHOR_NAMES}}</td>

                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #elseBlock>
        <div *ngIf="noresults==true && result">{{result[0].Result}}</div>
    </ng-template>
</form>
