<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EmilBerbakov.com</title>
</head>
<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon fontIcon="menu" class="material-icons-outlined"></mat-icon>
  </button>
    <span><a routerLink="/home" style="text-decoration: none; color: white;"><strong>EmilBerbakov.com</strong></a></span>
    <span class="toolbar-spacing"></span>
    <mat-slide-toggle color="warn" [checked]="isDarkTheme" (change)="themeSwitch()">
      <mat-icon fontIcon="dark_mode" class="material-icons-outlined"></mat-icon>
    </mat-slide-toggle>
</mat-toolbar>

<!--TODO - put this in an *ngIf for computer screens, with mat-bottom-sheet alternate for phone screens -->
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" align="start" [(opened)]="opened" [fixedInViewport]="false" [fixedBottomGap]="0" [fixedTopGap]="0" >
      <div class="sidenav">
          <button mat-button routerLink="/aboutme">About Me</button>
        <!--Projects-->
          <button mat-button aria-haspopup="true" aria-expanded="false" [matMenuTriggerFor]="projectMenu">
            Projects
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
      <mat-menu #projectMenu >
        <ng-template matMenuContent>
          <button mat-menu-item routerLink="/librarydb" >Library Database</button>
          <button mat-menu-item disabled><i>More Coming Soon</i></button>
        </ng-template>
      </mat-menu>
      <!--Contact Info-->
      <button mat-button aria-haspopup="true" aria-expanded="false" [matMenuTriggerFor]="contactMenu">
        Contact Me
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #contactMenu>
        <ng-template matMenuContent>
          <button mat-menu-item href="https://www.linkedin.com/in/emil-berbakov/" target="_blank" rel="noopener noreferrer">Message me on LinkedIn</button>
          <button mat-menu-item href="https://github.com/EmilBerbakov" target="_blank" rel="noopener noreferrer">Check out my GitHub</button>
          <button mat-menu-item href="mailto:emberbakov@gmail.com">Send Me an Email </button>
        </ng-template>
      </mat-menu>
    <div *ngIf="isLoggedin==true; else notLoggedIn">
        <button mat-button aria-haspopup="true" aria-expanded="false" [matMenuTriggerFor]="profileMenu">
          Profile
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #profileMenu>
          <ng-template matMenuContent>
            <button mat-menu-item routerLink="/mylibrary">My Library</button>
            <button mat-menu-item color="accent" (click)="logout()">Logout</button>
          </ng-template>
        </mat-menu>
    </div>
    <div>
    <ng-template #notLoggedIn>
        <app-login></app-login>
    </ng-template>
  </div>
  </div>
    </mat-sidenav>
    <div class="flex-container">
      <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>
<mat-toolbar class="footer" color="primary"><font size="2">Designed with Material UI.  Built in Angular for your viewing pleasure.</font></mat-toolbar>
